
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GİRİŞ SAYFASI</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-top:70px">
                <div class="col-md-6 col-sm-6 col-sm-offset-3 col-xs-12 col-md-offset-3" style="border:solid">
                    <div >
                        <form method="post" action="/Login/Index">
                      
                            <center style="margin-bottom:50px"><h1>KULLANICI GİRİŞ</h1></center>
                            
                            <div class="col-md-8 col-lg-offset-2">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="UserName" placeholder="Kullanıcı Adı" required="" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="Password" placeholder="Şifre" required="" />
                                </div>

                                <input type="submit" class="btn btn-default pull-right" value="GİRİŞ YAP" style="margin-bottom:50px" />
                            </div>
                           
                        </form>
                    </div>
                </div>
                

            </div>
        </div>
    </div>
</body>
</html>
